body {
    display: flex;
    height: 90vh;
    width: 100%;
    flex-wrap:wrap;
    justify-content: center;
    background-color:slategray;
}

#header {
    color: #fafafa;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid white;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fafafa;
    border: 1px solid white;
}

#form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

input {

}

label {
    color: seashell;
}